<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.js"></script>
  </head>
  <h1>Bar chart</h1>
  <body>
    <script>
      const svgWidth = 300,
        svgHeight = 300;
      const data = [40, 80, 130, 210, 100, 20];

      const svg = d3
        .select("body")
        .append("svg")
        .attr("width", svgWidth)
        .attr("height", svgHeight)
        .style("border", "1px solid rgba(0,0,0,0.1)");

      const padding = 40;

      // xAxis
      const xAxisScale = d3
        .scaleBand()
        .domain(data.map((d, i) => i)) // 실제값의 범위
        .range([padding, svgWidth - padding]) // 변환할 값의 범위
        .padding(0.1);
      const xAxis = d3.axisBottom().scale(xAxisScale);

      // yAxis
      const yAxisScale = d3
        .scaleLinear()
        .domain([0, d3.max(data)]) // 실제값의 범위
        .range([svgHeight - padding, padding]); // 변환할 값의 범위(역으로 처리)
      const yAxis = d3.axisLeft().scale(yAxisScale);

      const xAxisTranslate = svgWidth - padding;
      svg
        .append("g")
        .attr("class", "x-axis")
        .call(xAxis)
        .attr("transform", `translate(0, ${xAxisTranslate})`);
      svg
        .append("g")
        .attr("class", "y-axis")
        .call(yAxis)
        .attr("transform", `translate(${padding}, 0)`);

      // data
      const rectWidth = 40;
      svg
        .selectAll("rect")
        .data(data)
        .enter()
        .append("rect")
        .attr("height", (d) => svgHeight - yAxisScale(d) - padding)
        .attr("width", xAxisScale.bandwidth())
        .attr("x", (d, i) => xAxisScale(i))
        .attr("y", (d) => yAxisScale(d))
        .attr("fill", "orange");
    </script>

  </body>
</html>
